:root {
  --сolor-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-brand-light: #ffffff;
  --color-landing: #4a4a4a;
  --color-landing-second: #000000;
  --color-landing-dark: #747272;
}

address {
  font-style: normal;
}

/* Base */

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1178px;
  margin: 0 auto;
}

body {
  margin: 0;
}

/* button  */
.button-section {
  margin-bottom: 14px;
  margin-left: 122px;
}
.button {
  padding: 16px 32px;
  color: #ffffff;
  background-color: #2b7fff;
  border-radius: 32px;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  border: 0;
  font-size: 18px;
  font-weight: 700;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 1px solid #2b7fff;
}

/* link-section */
.link {
  color: var(--color-primary-dark);
  line-height: 1.5;
  font-weight: 400;
  transition: color 0.2s;
  text-decoration: none;
  font-size: 18px;
  font-family: "roboto", sans-serif;
}

.link:hover {
  color: var(--сolor-primary-light);
  /* font-weight: 700; */
}

/* header */

.header-contact {
  /* padding: 42px; */
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu-contact {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
}

.header-container {
  backdrop-filter: blur(5px);
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 240px;
}

.header-menu {
  padding: 42px;
  width: 100%;
  display: flex;
  gap: 56px;
  flex-grow: 1;

  justify-content: center;
}

.header-icon {
  fill: var(--color-primary-dark);
}

.header-icon:hover {
  fill: var(--сolor-primary-light);
}

/* hero-section */

.h-section {
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 122px;
}

.main-section {
  margin-bottom: 40px;
  margin-left: 122px;
}

.hero-section {
  padding: 270px 0;
  padding-top: 16px;
  background-image: url("../images/work.jpg");
  height: 657.93px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-image: linear-gradient(
    89deg,
    #fff 30.62%,
    rgba(255, 255, 255, 0.85) 41.31%,
    rgba(255, 255, 255, 0.19) 58.65%,
    rgba(255, 255, 255, 0) 72.78%
  ); */
}

.hero-title {
  /* margin-bottom: 0; */
  color: var(--сolor-primary-light);
  font-family: "play", sans-serif;
  font-size: 140px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 529px;
}

/* title-section */
.section-title span {
  color: var(--сolor-primary-light);
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  max-width: 432px;
}

.section-title.centered {
  text-align: center;
}

/* reincarnate */

.reincarnate-section {
  padding-top: 39px;
  position: relative;
}

.reincarnate-section .centered {
  text-align: center;
  margin: 0 auto 40px;
}

/* font-section */
.fonts-section {
  color: var(--color-primary-dark);
  line-height: 1.5;
  font-family: "roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.fonts-section span {
  font-weight: 700;
}

/* h-title */
.h-title {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  /* padding: 16px; */
}

/* p-section */
.p-section {
  color: var(--color-landing);
  font-size: 12px;
  font-family: "roboto", sans-serif;
}

.p-text {
  margin-left: 122px;
  max-width: 238px;
}

/* why us section */

.whyus-text {
  color: var(--color-landing-second);
  line-height: 1.3;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.whyus-title {
  /* padding-top: 88px; */
  text-align: center;
  margin: 0 auto 48px;
}

.why-section {
  fill: linear-gradient(
    38deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
}

/* threatment-section */
.threatment-conteiner {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* formats */
.formats-list {
  display: flex;
  gap: 16px;
}

/* procedures */

.procedures-card {
  position: relative;
  height: 456px;
  border: 1px solid lightgrey;
  border-radius: 120px 4px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  transition: transform 0.2s;
}

.procedures-image {
  border-radius: 120px 4px;
}

.procedures-card:hover {
  transform: scale(1.05);
}

.procedures-section {
  max-width: 510px;
  margin-bottom: 48px;
  text-align: center;
  margin: 0 auto 48px;
}

/* carousel-button */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-color: transparent;
  border-radius: 50%;
  /* border: 2px solid var(--color-primary-dark); */
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--сolor-primary-light);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--сolor-primary-light);
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

/* traditions-section */

.photo-before {
  border-radius: 50%;
  position: relative;
}

.star-icon-1 {
  fill: var(--color-primary-dark);
  position: relative;
  top: 350px;
  left: 210px;
  transform: translateX(-20px);
  transition: background-color 1s, color 1s, transform 1s;
}

.star-icon-1:hover {
  transform: translateX(0px);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.star-icon-2 {
  fill: var(--сolor-primary-light);
  position: relative;
  left: 600px;
  top: 70px;
  transform: translateX(-20px);
  transition: background-color 1s, color 1s, transform 1s;
}

.star-icon-2:hover {
  transform: translateX(0px);
}

.star-icon-3 {
  fill: var(--color-landing-dark);
  position: relative;
  bottom: 0;
  right: 0;
  left: 600px;
  top: 320px;
  transform: translateX(-20px);
  transition: background-color 1s, color 1s, transform 1s;
}

.star-icon-3:hover {
  transform: translateX(0px);
}

.photo-after {
  padding-top: 40px;
  border-radius: 50%;
  max-width: 343px;
  margin-left: 168px;
  margin-bottom: 88px;
}

.traditions-section {
  margin-bottom: 40px;
}

.traditions-section:last-child {
  margin-bottom: 0;
}

/* aboutus section */
.aboutus-section {
  padding-top: 0px;
}

.gameicon-image {
  align-items: center;
}
.about-text {
  display: flex;
  gap: 56px;
}

.gameicon-image {
  margin-bottom: 8px;
}

.why-us-conteiner {
  display: flex;
  justify-content: space-between;
}

.why-us-content {
  max-width: 710px;
}

/* contact-section */

.iframe {
  display: flex;
}

.section-contact {
  padding-bottom: 96px;
}

.contact-conteiner {
  /* padding-top: 96px; */
  display: flex;

  gap: 32px;
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.contact-section {
  padding-top: 96px;
  text-align: center;
  margin: 0 auto 48px;
}

.contact-form-section {
  background-color: var(--color-primary-dark);
  max-width: 423px;

  border-radius: 32px;
}

/* footer */

.footer-section {
  padding: 56px 0;
}

/* .footer-section {
  background-size: 270px 210px;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../images/hygieneproducts.png");
  content: "";
} */
.footer-logo {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}

.footer-conteiner {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-contact {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-icon {
  fill: var(--color-brand-light);
  display: flex;
  flex-grow: 1;
  gap: 24px;
}

.footer-icon:hover {
  fill: var(--сolor-primary-light);
}

.footer-section {
  position: relative;
  font-family: "roboto", sans-serif;
  text-decoration: none;
  background-color: var(--color-primary-dark);
  color: var(--color-brand-light);
}

.footer-section::after {
  color: var(--color-primary-dark);
  position: absolute;
  bottom: -58px;
  right: 0;
  width: 270px;
  height: 210px;
  background-image: url("../images/hygieneproducts.png");
  content: "";
  background-repeat: no-repeat;
}

.footer-text {
  color: var(--color-brand-light);
  text-decoration: none;
  line-height: 1.5;
  margin-bottom: 16px;
  gap: 186px;
  font-weight: 400;
  transition: color 0.2s;
  font-size: 16px;
  font-family: "roboto", sans-serif;
}

.footer-text:hover {
  color: var(--сolor-primary-light);
}

.footer-address {
  color: var(--color-brand-light);
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  gap: 186px;
  transition: color 0.2s;
  text-decoration: none;
  line-height: 1.5;
  font-family: "roboto", sans-serif;
}

.footer-address:hover {
  color: var(--сolor-primary-light);
}

/* modal */

.modal-text-form {
  margin: 10px;
}

.backdrop {
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.modal {
  position: relative;
  padding: 42px 144px;
  /* font-family: "Play", sans-serif; */
  /* font-weight: 700; */
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow-y: auto;
}

.modal-text {
  font-family: "roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-brand-light);
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
}

.modal-text span {
  color: var(--сolor-primary-light);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

/* form */

.form-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  max-width: 435px;
  color: var(--color-brand-light);
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.form-field {
  margin-bottom: 24px;
}

.form-labe {
  display: block;
}

.form-input {
  padding: 18px 33px;
  width: 100%;
  border-radius: 32px;
  border: 2px solid var(--color-landing-dark);
  background-color: transparent;
  color: var(--color-brand-light);
}

.form-input:focus {
  border-color: var(--color-landing-dark);
  background-color: var(--color-landing-dark);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-brand-light);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.17;
}

.form-button {
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  background-color: #2b7fff;
  border-radius: 32px;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  border: 0;
  font-size: 18px;
  font-weight: 700;
}

.form-button:hover {
  color: var(--сolor-primary-light);
  background-color: transparent;
  border: 1px solid #2b7fff;
}

.form-contact {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-top: 8px;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
  color: var(--color-landing-dark);
  line-height: 1.5;
}

.form-terms-link {
  color: var(--color-landing-dark);
  text-underline-offset: 2px;
}

.contact-form-section {
  /* display: flex; */
  width: 100%;
  height: 481px;
  padding: 48px 56px;
}

.form-fiel-modal {
  margin-bottom: 16px;
}
